*{
    margin: 5px;
    padding: 5px;
}

#wrapper{
    height: 505px;
    width: 505px;
    background-color: black;
}

.container{
    height: 480px;
    width: 480px;
    border: 1px solid #353b3d;
    background-color: #181a1b;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    
}

.container img{
    padding: 2px 2px 2px 2px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0.1px rgb(88, 86, 86);
}

hr{
    height: 0px;
    width: 90%;
    margin: 1px 20px 20px;
    padding: 0px ;
}

.desc{
    color: #e8e6e3;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    font-weight: 700;
}

.newprice{
    color: #6e97ce;
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}

.oldprice{
    color: #818181
    ;
    font-weight: 500;
    font-size: 20px;
}

.discount{
    border: 2px solid #19cb9b;
    width: 100px;
    height: 30px;
    background-color: #19cb9b;
    border-radius: 10px;
}

.discount{
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: auto;
    font-weight: 700;
}

span{
    margin: 10px;
}
